<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Student Registration</title>
</head>

<body>

<h2>Student Registration Form</h2>

<form th:action="@{/register}" th:object="${student}" method="post">

    ID :
    <input type="number" th:field="*{id}"> <span th:errors="*{id}"></span>
    <br><br>

    Name :
    <input type="text" th:field="*{name}"> <span th:errors="*{name}"></span>
    <br><br>

    Course :
    <input type="text" th:field="*{course}"> <span th:errors="*{course}"></span>
    <br><br>

    <input type="submit" value="Register">

</form>

</body>

</html>